$info: #7D7D7D;
$text: #0C97F9;

.main__contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 2000px;

  &-bg {
    background-color: #FAFAFA;
  }

  &-title {
    padding-top: 50px;
    font-size: 35px;
    font-weight: 500;
  }

  &-side {
    display: flex;
    gap: 80px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  &-mail {
    &__title {
      color: $info;
    }

    &__text {
      color: $text;
      font-size: 20px;
    }
  }

  &-rows {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  &-map {
    margin-top: 10px;
    background: url("../../Images/Contacts/maps.png") no-repeat;
    background-size: cover;
    width: 620px;
    height: 350px;
  }

  &-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .main__contacts {
    width: 768px;
    height: 1300px;

    &-side {
      display: flex;
      flex-direction: column;
      gap: 110px;
    }

    &-title {
      display: none;
    }

    &-rows {
      display: grid;
      gap: 50px;
    }

    &-mobile {
      display: block;
    }

    &-container {
      gap: 70px;
      position: relative;
      left: 13vw;
    }

    &-map {
      position: relative;
      left: 13vw;
      width: 595px;
      height: 335px;
    }

    &-content {
      gap: 60px;
    }
  }
}