$info: #AFAFB4;

.main__about {
  position: relative;
  font-family: 'Jost', sans-serif;
  height: 2000px;

  &-bg {
    background-color: #FAFAFA;
  }

  &-side {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-company {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;

    &_title {
      font-weight: 500;
      font-size: 35px;
    }
  }

  &-title {
    font-weight: 500;
    font-size: 35px;
  }

  &-retailyImage {
    background: url("../../Images/About/company.png") no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
  }

  &-text {
    &_items {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &_title {
      font-size: 21px;
    }

    &_content {
      font-size: 18px;
      width: 900px;
    }
  }

  &-team {
    display: flex;
    padding-left: 50px;
    gap: 30px;
  }

  &-teamImage {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    text-align: center;
  }

  &-image {
    display: grid;
    &_info {
      &-mobile {
        display: none;
      }

      &-computer {
        color: $info;
      }

      &-mobileReview {
        display: none;
      }
    }

    &_title {
      font-size: 20px;
      font-weight: 800;
    }

    &_subtitle-mobile {
      display: none;
    }

    &__all {
      display: block;
    }

    &__image {
      background: url("../../Images/About/Team/1.png") no-repeat;
      background-size: cover;
      width: 160px;
      height: 217px;
    }

    &__image2 {
      background: url("../../Images/About/Team/2.png") no-repeat;
      background-size: cover;
      width: 160px;
      height: 217px;
    }

    &__image3 {
      background: url("../../Images/About/Team/3.png") no-repeat;
      background-size: cover;
      width: 160px;
      height: 217px;
    }

    &__image4 {
      background: url("../../Images/About/Team/4.png") no-repeat;
      background-size: cover;
      width: 160px;
      height: 217px;
    }

    &__image5 {
      background: url("../../Images/About/Team/5.png") no-repeat;
      background-size: cover;
      width: 160px;
      height: 217px;
    }

    &__image6 {
      background: url("../../Images/About/Team/6.png") no-repeat;
      background-size: cover;
      width: 160px;
      height: 217px;
    }

    &__mobile {
      display: none;
    }
  }

  &-copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    color: #7D7D7D;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .main__about {
    height: 2600px;
    width: 768px;

    &-company {
      padding: 0;
      margin-left: 100px;

      &_title {
        display: none;
      }
    }

    &-title {
      font-size: 38px;
    }

    &-side {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 80px;
    }

    &-text {
      &_title {
        font-size: 24px;
        width: 550px;
      }

      &_content {
        font-size: 20px;
        width: 580px;
      }
    }

    &-team {
      display: flex;
      padding-top: 60px;
      padding-left: 98px;
      gap: 30px;
    }

    &-teamImage {
      grid-template-columns: 1fr 1fr;
    }

    &-image {
      gap: 4px;

      &_info {
        &-mobile {
          display: block;
          font-size: 20px;
        }

        &-mobileReview {
          display: flex;
          flex-direction: column;
          padding-top: 60px;
          padding-left: 80px;
          gap: 8px;
          &_text {
            font-size: 21px;
          }
        }
      }

      &__all {
        display: none;
      }

      &_info-computer {
        display: none;
      }

      &_info-mobile {
        color: #0C97F9;
      }

      &_subtitle-computer {
        display: none;
      }

      &_subtitle-mobile {
        display: block;
        font-size: 19px;
      }

      &_title {
        display: none;
      }

      &__mobile {
        display: block;
        background: url("../../Images/About/Team/7.png") no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
      }
    }

    &-copyright {
      position: relative;
      bottom: 70px;
    }
  }
}