.main__sidebar {
  padding-top: 45px;
  padding-left: 180px;

  &-bg {
    background-color: #FAFAFA;
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &-item {
    font-size: 24px;
    width: 150px;
    color: black;
    text-decoration: none;

    &__active {
      color: #0C97F9;
    }
  }
}

@media (max-width: 768px) {
  .main__sidebar {
    position: relative;
    padding: 0;
    top: 30px;
    left: 13vw;

    &-items {
      display: flex;
      flex-direction: row;
    }

    &-item {
      font-size: 23px;
    }
  }
}

