.main__feedback {
  display: flex;
  position: relative;
  width: calc(100vw - 20px);
  height: calc(100vh - 80px);
  background-color: #FAFAFA;
  justify-content: center;
  align-items: center;

  &_title {
    position: absolute;
    font-size: 53px;
    font-weight: 500;
    width: 254px;
    left: 480px;
    bottom: 410px;
  }

  input {
    width: 450px;
    font-size: 18px;
    height: 10px;
    padding: 34px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #FAFAFA;
  }

  &_input {
    margin-bottom: 200px;
    margin-left: 400px;
  }

  &-checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 15px;
    &_check {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #0C97F9;
      user-select: none;
      cursor: pointer;
      &__active {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #0C97F9;
      }
    }
  }
}

