$subtitle: #85CBFC;

.main__footer {
  display: flex;
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: #0C97F9;
  justify-content: center;
  align-items: center;

  &_logo {
    position: absolute;
    width: 180px;
    height: 40px;
    background: url("../../Images/footerLogo.png") no-repeat;
    background-size: cover;
    left: 450px;
    bottom: 650px;
  }

  &_firstNav {
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    top: 100px;

    a {
      text-decoration: none;
      color: #fff;
    }

    &_itemOne {
      padding: 0 0 20px;
    }

    &_itemTwo {
      padding: 0 0 20px;
    }

    &_itemThree {
      padding: 0 0 20px;
    }

    &_itemFour {
      padding: 0 0 20px;
    }
  }

  &_secondNav {
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    top: 130px;
    left: 880px;

    a {
      text-decoration: none;
      color: #fff;
    }

    &_itemOne {
      padding: 0 0 20px;
    }

    &_itemTwo {
      padding: 0 0 20px;
    }

    &_itemThree {
      padding: 0 0 20px;
    }

    &_itemFour {
      padding: 0 0 20px;
    }
  }

    &_thirdNav {
      position: absolute;
      font-size: 21px;
      font-weight: 400;
      color: #fff;
      top: 150px;
      right: 380px;

      &_itemOne {
        padding: 0 0 10px;
        font-size: 18px;
        color: $subtitle;
      }

      &_itemTwo {
        padding: 0 0 10px;
      }

      &_itemThree {
        padding: 0 0 10px;
        font-size: 18px;
        color: $subtitle;
      }

      &_itemFour {
        padding: 0 0 10px;
      }
    }

  &_googlePlay {
    position: absolute;
    width: 230px;
    height: 100px;
    background: url("../../Images/googlePlay.png") no-repeat;
    background-size: cover;
    left: 510px;
    top: 550px;
  }

  &_googleQrCode {
    position: absolute;
    width: 160px;
    height: 160px;
    background: url("../../Images/qrCode.png") no-repeat;
    background-size: cover;
    left: 810px;
    top: 510px;
  }

  &_appleStore {
    position: absolute;
    width: 230px;
    height: 100px;
    background: url("../../Images/appleStore.png") no-repeat;
    background-size: cover;
    left: 1080px;
    top: 550px;
  }

  &_appleQrCode {
    position: absolute;
    width: 160px;
    height: 160px;
    background: url("../../Images/qrCode.png") no-repeat;
    background-size: cover;
    left: 1350px;
    top: 510px;
  }

  &_copyright_left {
    position: absolute;
    bottom: 60px;
    left: 400px;
    font-size: 19px;
    color: $subtitle;
  }

  &_copyright_right {
    position: absolute;
    bottom: 60px;
    right: 240px;
    font-size: 19px;
    color: $subtitle;
  }

  &_copyright_line {
    position: absolute;
    width: 606px;
    height: 1px;
    background: url("../../Images/footerLine.png") no-repeat;
    background-size: cover;
    bottom: 70px;
    left: 790px;
  }
}