@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Roboto:wght@300&family=Titillium+Web:wght@300;400;700&display=swap');

.main__retake {
  font-family: "Jost", sans-serif;

  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &_bg {
    background-color: #FAFAFA;
  }

  &_hide_retake {
    text-align: center;
    font-size: 250px;
    font-weight: 500;
    color: rgba(12, 151, 249, 0.1);
    letter-spacing: 7px;
    user-select: none;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;

    &-items {
      display: grid;
      justify-content: center;
      gap: 15px;
    }

    &-item {
      display: flex;
      gap: 15px;

      &-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #0C97F9;
        position: relative;
        top: 3px;

        &_circleIn {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #0C97F9;
        }
      }

      &_text {
        font-size: 20px;
        width: 450px;
      }
    }

    &-image {
      position: relative;
      display: grid;
      height: 100%;
      width: 100%;


      &_macbook {
        position: absolute;
        background: url("../../Images/Partners/macbook.png") no-repeat;
        background-size: cover;
        width: auto;
        height: auto;
        max-width: 415px;
        max-height: 250px;
        top: 31vh;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &_macbook2 {
        position: absolute;
        background: url("../../Images/Partners/macbook2.png") no-repeat;
        background-size: cover;
        width: auto;
        height: auto;
        max-width: 415px;
        max-height: 250px;
        top: 31vh;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &_iphone {
        position: absolute;
        top: 20vh;
        bottom: 0;
        left: 240px;
        right: 0;

        background: url("../../Images/Partners/iphone.png") no-repeat;
        background-size: cover;

        width: auto;
        height: auto;
        max-width: 225px;
        max-height: 455px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main__retake {
    height: 600px;
    width: 768px;

    &_hide_retake {
      font-size: 160px;
      margin-bottom: 88vh;
    }

    &-content {
      &-items {
        position: relative;
      }
      &-item {
        &_text {
          font-size: 18px;
        }
      }

      &-image {
        &_macbook {
          top: 150px;
          bottom: 0;
          left: -350px;
          right: 0;
        }

        &_iphone {
          top: 50px;
          left: -50px;
          right: 0;
          bottom: 0;
        }

        &_macbook2 {
          top: 150px;
          bottom: 0;
          left: -350px;
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 836px) {
  .main__retake {
    height: 1024px;
    width: 768px;

    &_hide_retake {
      font-size: 160px;
      margin-bottom: 108vh;
    }

    &-content {
      &-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 150px;
        left: 70px;
      }

      &-image {
        &_macbook {
          left: -300px;
        }

        &_macbook2 {
          left: -300px;
        }

        &_iphone {
          top: 75px;
          width: 190px;
          height: 384px;
        }
      }
    }
  }
}