$transparent: rgba(12, 151, 249, 0.1);

.main__supplier {
  display: flex;
  position: relative;
  font-family: "Jost", sans-serif;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  height: 1400px;

  &-bg {
    background-color: #fafafa;
  }

  // Работа с названием

  &_title {
    margin-top: 100px;
    font-weight: 500;
    font-size: 32px;
  }

  &-step {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 110px;

    &-leftSide {
      display: flex;
      flex-direction: column;
      gap: 240px;
      margin-top: 100px;
    }

    &-rightSide {
      display: flex;
      flex-direction: column;
      gap: 240px;
      margin-top: 300px;
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      &_hide {
        position: relative;
        left: -15px;
        font-family: "Jost", sans-serif;
        font-size: 350px;
        font-weight: 500;
        color: $transparent;
        user-select: none;
        line-height: 100px;
      }

      &_text {
        position: relative;
        font-size: 23px;
        width: 300px;
        text-align: center;
      }

      &_text1 {
        position: relative;
        font-size: 23px;
        width: 300px;

        top: -60px;
      }

      &_btn1 {
        position: relative;
        top: -60px;
        right: 40px;
      }
    }

    &-bar {
      position: relative;

      &-line {
        position: absolute;
        width: 1px;

        top: 0;
        left: 8px;
        right: 0;
        bottom: 0;

        z-index: 1;
        border: 1px solid #0c97f9;
      }

      &-items {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
      }

      &-item {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #0c97f9;
        background-color: white;

        &_circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #0c97f9;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          &__active {
            position: absolute;
            top: -10px;
            right: 0;
            left: -10px;
            bottom: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #0c97f9;
          }
        }
      }
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
  }
}

@media (max-width: 768px) {
  .main__supplier {
    height: 1800px;
    width: 768px;

    &_title {
      font-size: 33px;
    }

    &-mobile {
      position: relative;
      right: 30px;
    }

    &-step {
      display: flex;
      text-align: center;
      width: 768px;
      &-leftSide {
        position: relative;
        display: flex;
        flex-direction: column;
        left: 265px;
        gap: 550px;
      }

      &-rightSide {
        position: relative;
        right: 250px;
        display: flex;
        flex-direction: column;
        top: 200px;
      }

      &-mobile {
        position: relative;
        top: 25vh;
      }

      &-item {
        &_btn1 {
          position: relative;
          left: 1px;
        }
      }

      &-bar {
        position: relative;
        right: 260px;
        top: 230px;
      }

      &-btn {
        position: relative;
        top: 430px;
        left: 300px;
      }
    }
  }
}

@media (max-width: 836px) {
  .main__supplier {
    height: 1800px;
    width: 768px;

    &-step {
      &-item {
        &_btn2 {
          right: 10px;
        }
      }
      &-btn {
        top: 340px;
        left: 30px;
      }
    }
  }
}