$transparent: rgba(12, 151, 249, 0.1);

.main__supplier {
  display: flex;
  position: relative;
  width: 100vw;
  height: 70vw;
  background-color: #FAFAFA;
  font-family: "Jost", sans-serif;
  justify-content: center;
  align-items: center;

  &_title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 1100px;
    justify-content: center;
  }

  &_num_one {
    font-family: "Jost", sans-serif;
    font-size: 350px;
    font-weight: 500;
    color: $transparent;
    user-select: none;

    position: absolute;
    top: 110px;
    left: 600px;
    right: 0;
    bottom: 0;
  }

  &_num_two {
    font-family: "Jost", sans-serif;
    font-size: 350px;
    font-weight: 500;
    color: $transparent;
    user-select: none;

    position: absolute;
    top: 310px;
    left: 1055px;
    right: 0;
    bottom: 0;
  }

  &_num_three {
    font-family: "Jost", sans-serif;
    font-size: 350px;
    font-weight: 500;
    color: $transparent;
    user-select: none;

    position: absolute;
    top: 530px;
    left: 600px;
    right: 0;
    bottom: 0;
  }

  &_num_four {
    font-family: "Jost", sans-serif;
    font-size: 350px;
    font-weight: 500;
    color: $transparent;
    user-select: none;

    position: absolute;
    top: 710px;
    left: 1055px;
    right: 0;
    bottom: 0;
  }

  &_progressBar {
    position: absolute;
    background: url("../../Images/progress.png") no-repeat;
    background-size: cover;
    width: 2%;
    height: 66%;
    // 56x1300
  }

  &_document {
    position: absolute;
    margin-right: 512px;
    font-size: 23px;
    margin-bottom: 450px;
  }

  &_api {
    position: absolute;
    font-size: 23px;
    width: 300px;
    margin-left: 470px;
    margin-bottom: 150px;
  }

  &_test {
    position: absolute;
    font-size: 23px;
    width: 350px;
    margin-right: 370px;
    margin-top: 410px;
  }

  &_user {
    position: absolute;
    font-size: 23px;
    width: 350px;
    margin-left: 510px;
    margin-top: 770px;
  }
}