@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Roboto:wght@300&family=Titillium+Web:wght@300;400;700&display=swap');

.main {
  display: flex;
  &__content {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    justify-content: center;
    width: 980px;
  }

  &__first_content {
    font-size: 200px;
    justify-content: center;
    text-align: center;
  }

  &__second_content {
    z-index: 4;
    font-size: 24px;
    text-align: left;
    line-height: 40px;
  }
}