$color2: #0C97F9;

.main__vacancies {
  display: flex;
  gap: 30px;
  height: 2000px;

  &-bg {
    background-color: #FAFAFA;
  }

  &-side {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 50px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-container-mobile {
    display: none;
  }

  &-title {
    padding-top: 50px;
    font-size: 35px;
    font-weight: 500;
  }

  &-subtitle {
    font-size: 25px;

    &_cost {
      font-size: 25px;
      color: $color2;
      font-weight: 500;
    }
  }

  &-offer {
    margin-bottom: 15px;
  }

  &-rules {
    padding-left: 15px;
  }

  &-things {
    display: grid;
    gap: 20px;
  }

  &-bold_text {
    font-weight: 600;
  }

  &-feedback {
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .main__vacancies {
    width: 768px;
    height: 1200px;

    &-side {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }

    &-title {
      display: none;
    }

    &-container {
      display: none;
    }

    &-container-mobile {
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: center;
    }

    &-img {
      width: 24px;
      height: 27px;
      background: url("../../Images/Vacancies/navigation.png") no-repeat;
      background-size: cover;
    }

    &-img2 {
      width: 25px;
      height: 25px;
      background: url("../../Images/Vacancies/clock.png") no-repeat;
      background-size: cover;
    }

    &-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
    }

    &-subtitle {
      font-size: 23px;

      &_cost {
        font-size: 23px;
      }
    }
  }
}